.git
.github

venv/
ai-search-venv/

frontend/
frontend_backup/
backend_backup/

val2017/
val2017.zip
models/

backend/uploads/
__pycache__/
*.pyc

benchmark_mojo
benchmark_mojo.mojo
benchmark_python.py
generate_mojo_benchmark.py
test_max.py